.card {
  display: flex;
  flex-direction: column;
  background-color: $secondary-bg-color;
  min-width: 200px;
  border-radius: 8px;
  padding: 0 1rem;
  border: 1px solid $primary-color;
}

.keyWordList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.keyWord {
  background-color: $accent-color;
  border-radius: 9999px;
  font-size: 0.75rem;
  padding: 0 0.375rem;
  color: $primary-color;
}
