.card {
  display: flex;
  flex-direction: column;
  background-color: $secondary-bg-color;
  border-radius: 16px;
  padding: 0 1rem;
  border: 1px solid $primary-color;
  box-shadow: 1px 1px 4px -2px $primary-color;
  margin: 0.5rem;
  min-width: 300px;
  flex: 1;
  height: 100%;
  min-height: 175px;

  &.inactive {
    filter: grayscale(70%);
    border-color: gray;
  }

  h2 {
    margin: 0.75rem 0;
    max-width: calc(100% - 80px);
    line-height: 1;
  }

  .cardHeader {
    position: relative;
  }
}

.collapsibleContent {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  padding-top: 1rem;
}

.keyWordList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.keyWord {
  background-color: $accent-color;
  border-radius: 9999px;
  font-size: 0.75rem;
  padding: 0 0.375rem;
  color: $primary-color;
}

.iconsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;

  button {
    all: unset;
    cursor: pointer;
  }

  .editDeleteIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .expandIcon {
    transition: transform 0.3s ease;

    &.expanded {
      transform: rotate(180deg);
    }
  }
}

.money {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
