.headerWrapper {
  padding: 1rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  @media screen and (min-width: 421px) {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  @media screen and (min-width: 411px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
