.headerWrapper {
  padding: 1rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    padding: 0;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
