.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-color;
  color: $text-color;
}

.gems {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 2rem;

  .gemIcon {
    padding-top: 4px;
    color: $accent-color;
  }
}

.header {
  background-color: $primary-color;
  color: $text-on-dark-color;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;

  .logo {
    font-family: "Bebas Neue", sans-serif;

    font-size: 2.4rem;
    line-height: 1;
    margin: 0.5rem 1rem 0.25rem 2rem;
    color: $text-on-dark-color;

    .logoAccentLetter {
      font-size: 3rem;
      color: $accent-color;
    }
  }

  .burger {
    display: block;
    background: none;
    border: none;
    color: $text-on-dark-color;
    font-size: 2rem;
    margin: 0 2rem 0 auto;
    cursor: pointer;
    z-index: 103;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: $primary-color;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5rem;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: -2px 0 16px rgba(0, 0, 0, 0.08);
    z-index: 200;
    display: flex;

    a {
      color: $text-on-dark-color;
      text-decoration: none;
      position: relative;
      width: 100%;
      padding: 1.5rem 2rem;
      background-color: $primary-color;
      border-radius: 0;
      transition:
        color 0.3s ease,
        background-color 0.3s ease;

      &:hover {
        color: lightly-lighten($accent-color);
        background-color: lightly-lighten($primary-color);
      }

      &::after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background: $accent-color;
        transition: width 0.3s ease;
        position: absolute;
        bottom: 12px;
        left: 10%;
      }

      &:hover::after {
        width: 60%;
      }
    }
  }

  .nav.open {
    transform: translateX(0);
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 101;
  }
}

@media (min-width: 827px) {
  .gems {
    margin: 0 1rem;
  }

  .header {
    .burger {
      display: none;
    }
    .nav {
      position: static;
      height: auto;
      width: auto;
      flex-direction: row;
      padding-top: 0;
      gap: 1rem;
      transform: none;
      box-shadow: none;
      background: none;
      align-items: center;

      a {
        width: auto;
        padding: 1rem 3rem;
        border-radius: 16px;

        &:hover::after {
          width: 80%;
        }
      }
    }
    .overlay {
      display: none;
    }
  }
}

.main {
  flex: 1;
}

.footer {
  background: $secondary-bg-color;
  text-align: center;
  font-size: 0.875rem;
  color: #6b7280;
}
