.pill {
  background-color: $accent-color;
  border-radius: 9999px;
  font-size: 0.75rem;
  padding: 0 0.375rem;
  color: $primary-color;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  &.removable {
    padding: 0 0 0 0.375rem;
  }
}

.text {
  padding-bottom: 0.125rem;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
}
